//
   Created by CoderSong on 17/4/29.

extends layout

block content
  script(src="/javascripts/echarts.common.min.js")

  #main(style='width:100%; height:50%;', data-token=`${token}`)
  #heartbeat-chart(style='width:100%; height:50%')

  script(src="/javascripts/charts/homeChart.js")