//
   Created by CoderSong on 17/5/2.

extends layout

block content
  script(src="/javascripts/upload.js")

  input#input-file(type='file', multiple='mutiple', style='display:none')
  img#btn-img(src="/images/nav-list.png", style='width:100%;height:100%')